.card {
  text-align: center;
  cursor: pointer;
  border: 1px solid $color-primary;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem;
  &__image {
  }
  &__title {
    text-transform: capitalize;
  }
  &:hover {
    background-color: rgba($color-primary-light, 0.2);
    color: $color-primary-dark;
  }
}
